* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
}

body {
   background: linear-gradient(0deg, rgba(195, 110, 34, 1) 0%, rgba(253, 45, 109, 1) 100%) no-repeat center;
   color: #fff;
   min-height: 100vh;
}

h1 {
   font-weight: 400;
   font-size: 2rem;
   text-align: center;
   margin-bottom: 20px;
}

.container {
   margin: 0 auto;
   padding-top: 60px;
   min-width: 350px;
   max-width: 450px;
}

.add-task-container {
   background-color: #fff;
   padding: 20px;
   margin-bottom: 40px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

#input-text {
   padding: 8px;
   border-radius: 5px;
   width: 100%;
   font-size: 1rem;
   border: 2px solid #c7c7c7;
}

#input-text:hover {
   border-color: #b7b7b7;
}

#input-text:focus {
   border-color: #2282c3;
   outline: none;
}

#input-text::placeholder {
   color: #c7c7c7;
   font-weight: 400;
}

#input-text.error {
   border-color: #ff0000 !important;
}

.add-button {
   font-size: 1rem;
   padding: 6px 12px;
   background-color: #2282c3;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.2s;
}

.add-button:hover {
   background-color: #1a7bbb;
   color: #fff;
}

.task-list-container {
   background-color: #fff;
   color: #000;
   padding: 20px;
   margin-bottom: 60px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.task {
   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: center;
   gap: 15px;
}

.task-checkbox {
   cursor: pointer;
   transform: scale(1.15);
   padding-top: 10px;
}

.task i {
   padding: 6px;
   color: #7b7b7b;
   cursor: pointer;
}

.task i:hover {
   color: #2282c3;
}

.task-text {
   font-size: 1rem;
}

.task-text.done {
   text-decoration: line-through;
}
